* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --black-rgb: 0,0,0;
    --black: rbg(0,0,0);
    --white: #fff;
}

html {
    scroll-behavior: smooth;
}